.listas{
    list-style:lower-latin;
    font-size: 20px;
    width: fit-content;
    color:black;
}
.listas li:nth-child(odd){
    background-color: khaki;
}

.listas li:nth-child(even){
    background-color: khaki;
    
}
.listas li:hover{
    font-weight: bolder;
    background-color:antiquewhite;  
}